.App {
  text-align: center;
}
.nav-active {
  background-color: rgba(0, 0, 0, 0.1);
}

.m-r1 {
  margin-right: 10px;
}
.m-r2 {
  margin-right: 20px;
}
.m-1 {
  margin: 10px;
}
.m-3 {
  margin: 30px;
}
.ml-1 {
  margin-left: 10px;
}
.mb-2 {
  margin-bottom: 30px;
}
.p-3 {
  padding: 0 30px;
}

.recipe-card {
  padding-bottom: 15px;
}
.text-btn {
  font-weight: bold;
  letter-spacing: 2px;
}
